<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style/main.css">


</head>
<body>
    <div class="flexbox">
      <h1>NASAPACE</h1>
    <form class="form" action="/" method="post">
        <div class="form-title"><span>Get your</span></div>
         <div class="title-2"><span>NASA IMAGE</span></div>
         <div class="form-title"><span>of the day</span></div>
         <div class="input-container">
           <!-- <input class="input-mail" type="email" placeholder="Enter email"> -->
           <span> </span>
         </div>
   
         <section class="bg-stars">
           <span class="star"></span>
           <span class="star"></span>
           <span class="star"></span>
           <span class="star"></span>
         </section>
   
         <div class="input-container">
          
           <input class="input-pwd" type="text" name="date" placeholder="YYYY-MM-DD" pattern="\d{4}-\d{2}-\d{2}" >
         </div>
         <button type="submit" class="submit">
           <span class="sign-text">Get Image</span>
         </button>
   
         <!-- <p class="signup-link">
           No account?
           <a href="" class="up">Sign up!</a>
         </p> -->
        </form>
        </div>
        <footer>Made with ❤ by Astitva</footer>

   
</body>
</html>